<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.newlanguageservice.editor.MinimalEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            extensions="min"
            icon="icons/sample.gif"
            id="org.eclipse.faq.examples.editor.MinimalEditor"
            name="Minimal Editor">
   </editor>
   </extension>

</plugin>
